__pycache__/
tools/tests/asm/*.output
sim2
*.bin
TODO.md
*.err
examples/*.output 
*/dist-newstyle/*
ras
rcc
demos/rpn_int*.s
rsim
demos/rpn-noopt.s
hsim
build/*
dist-newstyle/*
compiler/tests/fuzz-work/*
compiler/tests/fuzz-fail/*
rld
rcc-fuzz
*.o