__pycache__/
tools/tests/asm/*.output
sim2
*.bin
TODO.md
*.err
examples/*.output 
*/dist-newstyle/*
rras
rcc
demos/rpn_int*.s
rrsim
demos/rpn-noopt.s
hsim
build/*
dist-newstyle/*
compiler/tests/fuzz-work/*
compiler/tests/fuzz-fail/*
rrld
rcc-fuzz
*.o